Form {
  margin-left: 10%;
  margin-right: 10%;
}

.article-card {
  margin: 5%;
  margin-top: 30px;
  margin-bottom: 10px;
}

a > Button{
  margin-left: 5%;
}

.bg-myNav {
  background-color: #E8CEBF;
}

.custom-btn {
  background-color: #6c757d!important;
  border-color: #6c757d!important;
}

.review-para {
  text-align: center;
  font-size: x-large;
  margin: 5%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.review-btn {
  margin-left: 5%;
}

span {
 font-weight: bold; 
}